<div class="download_category category" id="download_category-<%= download_category.id %>">
  <% if action_name == 'show' %>
    <h1 class="downloads_category-name"><%= download_category.name %></h1>
  <% else %>
    <h2 class="downloads_category-name"><%= download_category.name %></h2>
  <% end %>

  <div class="download_categories-tree">
      <%= nested_li(download_category.descendants, {}) do |download_category, level| %>
        <%= link_to download_category.tree_name, download_category %>
      <% end %>
  </div>

  <% unless download_category.description.blank? %>
    <div class="download_categories-description">
      <p><%= download_category.description %></p>
    </div>
  <% end %>

  <div class="download_category-downloads item_list">
    <h2><%= Ecm::Downloads::DownloadCategory.human_attribute_name(:ecm_downloads_downloads) %></h2>
    <% if download_category.ecm_downloads_downloads.published.count == 0 %>
      <%= t('ecm.downloads.download_category.messages.no_downloads_available') %>
      <hr />
    <% else %>
      <%= render download_category.ecm_downloads_downloads.published %>
    <% end %>
  </div>
</div>
