<div class="download" id="download-<%= download.id %>">
  <h2 class="download-name"><%= download.name %></h2>
  <ul>
    <li class="download-asset_file_name"><%= Ecm::Downloads::Download.human_attribute_name(:asset_file_name) %>: <%= download.asset_file_name %></li>
    <li class="download-asset_file_size"><%= Ecm::Downloads::Download.human_attribute_name(:asset_file_size) %>: <%= number_to_human_size(download.asset_file_size) %></li>
    <li class="download-created_at"><%= Ecm::Downloads::Download.human_attribute_name(:created_at) %>: <%= l download.created_at %></li>
    <li class="download-updated_at"><%= Ecm::Downloads::Download.human_attribute_name(:updated_at) %>: <%= l download.updated_at %></li>
  </ul> 
  <% unless download.description.blank? %>
  <div class="download-description">
    <p><%= download.description %></p>
  </div>
  <% end %>
  <div class="download-actions">
    <p>
      <%= link_to([:download, download], { :class => 'download-link btn' }) do %>
        <i class="icon-download"></i> <%= t('ecm.downloads.download.actions.start_download') %>
      <% end %>
    </p>
  </div>
</div>

<hr />
